
.winScreen{

}

.winScreen > h1{
    background-color: rgb(60, 194, 231);
    text-align: center;
    width: 30%;
    min-width: 200px;
    margin: auto;
    margin-top: 50px;
    padding: 10px 0px;
}

.reset{
    border:0px;
    background-color: antiquewhite;
}

.reset img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}